* {
  padding: 0;
  margin: 0;
  vertical-align: baseline;
  list-style: none;
  border: 0;
}

:root {
  --white-color: #fff;
}

#root {
  max-width: 1024px;
  margin: auto;
}

.container-error {
  text-align: center;
  padding: 20px;
}
